<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/marks" method="post">
    <input type="hidden" name="id" value="<%= id %>"> 
  <label for="ai">AI</label>
  <input type="text" name="ai" id="ai">
  <label for="c">C++</label>
  <input type="text" name="c" id="c">

  <label for="dbms">DBMS</label>
  <input type="text" name="dbms" id="dbms">

  <label for="web">WEB</label>
  <input type="text" name="web" id="web">

  <label for="ds">DS</label>
  <input type="text" name="ds" id="ds">

  <input type="submit" value="submit">
</form>
</body>
</html>